/* App component */
#main {
  color: white;
  width: 75vw;
  height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

/* Change City Component  */
.select {
  width: 100%;
  color: black;
  margin-bottom: 2vh;
}

.select select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 2px;
}

/* Change Language Component  */
ul.changeCity {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.activeLang {
  font-weight: bolder;
  text-decoration: underline;
}

/* Media Queryes */

@media (min-width: 500px) and (max-width: 600px) {
  #main {
    width: 70vw;
    font-size: calc(1rem + 1vh);
  }
}
@media (min-width: 600px) and (max-width: 700px) {
  #main {
    width: 65vw;
    font-size: calc(1.2rem + 1vh);
  }
}
@media (min-width: 700px) and (max-width: 800px) {
  #main {
    width: 60vw;
    font-size: calc(1.4rem + 1vh);
  }
}
@media (min-width: 800px) and (max-width: 1200px) {
  #main {
    width: 45vw;
    font-size: calc(1.6rem + 1vh);
  }
}
@media (min-width: 1200px) {
  #main {
    width: 450px;
    font-size: 2rem;
  }

  .card ul {
    height: 50vh;
  }
}
