* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}
html {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(135deg, #649cf0 0%, #1d62d1 100%);
  min-width: 320px;
  min-height: 320px;
}
body {
  background: url(img/bg.png) no-repeat top center;
  background-size: auto 50%;
  height: 100%;
  font-size: 1.1rem;
  font-family: Lato;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main {
  color: white;
  width: 35vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* margin-top: 20vh; */
  zoom: 170%;
}

#main h1 {
  text-decoration: underline;
}
#main h1,
h2 {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
}

.card li {
  margin: 2rem 0;
}

.select {
  width: 100%;
  color: black;
  /* margin-top: 2vh; */
}

.select select {
  width: 100%;
  padding: 0.8rem;
  border-radius: 2px;
}

.name {
  text-transform: capitalize;
}
.time {
  float: right;
}

.difference {
  float: right;
  margin-right: 20px;
  color: red !important;
}

.next-prayer {
  font-weight: 700;
  background-color: white;
  color: black;
  padding: 0.5rem 0.4rem 0.5rem;
  border-radius: 2px;
}
